.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.list-images {
  display: grid;
  grid-gap: 20px;
}

.container {
  display: grid;
  justify-content: center;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 20px;
}

.image-item {
  background: rgba(255, 255, 255, 0.2);
  display: grid;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  grid-template-columns: 150px 1fr;
  padding: 20px;
  align-items: center;
}
